@import url("https://fonts.googleapis.com/css2?family=Modak&family=Urbanist:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.home {
  width: 100%;
  align-items: center;
  color: #707c92;
  font-family: "Urbanist", sans-serif;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
    transform: scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.1);
  }
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
  color: #d16ba5;
  height: 50px;
  margin-top: -5rem;
}

.about .prompt {
  width: 43vw;
  font-size: 30px;
  margin-top: -2rem;
  color: #86a8e7;
  letter-spacing: 0.8px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: none;
  -webkit-gradient: (
    linear,
    left top,
    left bottom,
    from(#f5f5f7),
    color-stop(0%, #fff)
  );
}

.skills h1 {
  color: #3e497a;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1.5;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: -6vh;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

/* Home Projects */
#project-container-1 {
  width: 50vw;
  justify-self: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -10vh auto 0;
  padding: 20%;
  background: url("../assets/blue-biolet-watercolor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#project-container-2{
  width: 50vw;
  height: 30vw;
  justify-self: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -55vh auto 0;
  padding: 20%;
  /* background: url("../assets/blue-biolet-watercolor.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#project-container-3{
  width: 50vw;
  height: 30vw;
  justify-self: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -55vh auto 0;
  padding: 20%;
  background: url("../assets/blue-biolet-watercolor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.description {
  width: 20vw;
  height: auto;
  margin-top: 26px;
  border: none;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description h6 {
  font-weight: 600;
  font-size: 24px;
  color: #3e497a;
  margin: 0;
}

.description span {
  font-size: 16px;
  color: #3e497a;
  margin-top: 4px;
}

#soar-landing {
  width: 70%;
  margin-top: 8vh;
}

#itadakimasu-app {
  width: 50vw;
  margin-top: 8vh;
}

#reviewology {
  width: 50vw;
  margin-top: 8vh;
}

.more-button {
  background: linear-gradient(
    -75deg,
    #86a8e7,
    #5ffbf1
  );
  border: none; 
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 14px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s ease;
}

.more-button:hover {
  opacity: 0.8; 
}


