@import url("https://fonts.googleapis.com/css2?family=Modak&family=Urbanist:wght@500&display=swap");

.home {
  width: 100%;
  align-items: center;
  color: #707c92;
  font-family: "Urbanist", sans-serif;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
    transform: scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.1);
  }
}
.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(-45deg, #ffe5d9, #86a8e7, #d16ba5, #5ffbf1);
  background-size: 400% 400%;
  animation: gradient 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
