.navbar {
  position: relative;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(-75deg, #ffe5d9, #86a8e7, #d16ba5, #5ffbf1);
  background-size: 400% 400%;
  animation: gradient 20s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: 500;
  font-size: 20px;
}

.links a:hover {
  color: #86a8e7;
  text-decoration-color: #5ffbf1;
  text-decoration: wavy;
  font-weight: 700;
}

.links a.active {
  color: #d16ba5;
  font-weight: 600;
  text-decoration: wavy;
}

.desktop-moon {
  display: block;
}

.mobile-moon {
  display: none;
}

.toggleButton {
  display: none;
}

.toggleButton button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
  }

  .toggleButton {
    display: flex;
  }

  .logo {
    margin: 0 -20vw 0 35vw;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }

  .links a {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-moon {
    display: block;
    position: absolute;
    top: 39px;
    left: 20px;
    color: white;
    font-weight: 600;
  }

  .desktop-moon {
    display: none;
  }
}
