.navbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(-75deg, #ffe5d9, #86a8e7, #d16ba5, #5ffbf1);
  background-size: 400% 400%;
  animation: gradient 20s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  flex: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  overflow: hidden;
}

.links.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: calc(100vh - 100px);
}

.links a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: 500;
  font-size: 20px;
}

.links a:hover {
  color: #86a8e7;
  text-decoration-color: #5ffbf1;
  text-decoration: wavy;
  font-weight: 700;
}

.links a.active {
  color: #d16ba5;
  font-weight: 600;
  text-decoration: wavy;
}

.toggleButton {
  display: none;
}

.toggleButton button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }

  .links {
    display: none;
    flex-direction: column;
  }

  #open .links {
    display: flex;
  }
}
