/* Technologies */
.all-tools {
  width: 55vw;
  padding: 10px;
  margin-top: -2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

.tools-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  padding: 10px;
  margin: 0 auto;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

.tools-design {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  width: 100%;
}

.tools-dev {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  width: 100%;
}

.tools h5 {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .all-tools {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tools-col {
    width: 90vw;
    margin-right: 4vw;
    justify-items: center;
  }
  .tools-col h5 {
    margin-top: -2vh;
  }

  .tools-dev {
    margin: 0 50% 0 20%;
  }
  .tools-design {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 0 50% 0 20%;
  }
  #tools-workspace {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0 60% 0 10%;
    gap: 20px;
    width: 100%;
  }
}
