@import url("https://fonts.googleapis.com/css2?family=Modak&family=Urbanist:wght@500&display=swap");
.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  color: #1a1919;
  background-color: #e2dfdf;
  font-family: "Urbanist", sans-serif;
}

h1 {
  font-family: "Modak", cursive;
  font: 35px;
  font-weight: 400;
  letter-spacing: 1.3;
}
