@import url("https://fonts.googleapis.com/css2?family=Modak&family=Urbanist:wght@500&display=swap");
.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  color: #1a1919;
  background-color: transparent;
  height: 100vh;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    -225deg,
    rgb(118, 224, 231) 0%,
    rgba(20, 40, 90, 1) 29%,
    rgb(167, 77, 152) 67%,
    rgba(20, 40, 90, 1) 100%
  );
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
  border-radius: 20px;
}

h1 {
  font: 35px;
  font-weight: 400;
  letter-spacing: 1.3;
}

h2 {
  font: 28px;
  font-weight: 400;
  letter-spacing: 1.3;
}

h3 {
  font: 20px;
  font-weight: 600;
  letter-spacing: 1.3;
  color: rgb(167, 77, 152);
}

h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.3;
  color: rgba(20, 40, 90, 1);
}

h5 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1.5;
  color: rgb(167, 77, 152);
}
/* Technologies */
.all-tools {
  width: 55vw;
  padding: 10px;
  margin-top: -2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

.tools-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  padding: 10px;
  margin: 0 auto;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

.tools-design {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  width: 100%;
}

.tools-dev {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  width: 100%;
}

.tools h5 {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 10px;
}
